{% extends "base.html" %}

{% block content %}

  <h1>Taxi Service Cars</h1>
  <p>Welcome to Best Taxi Ever!</p>
  <h2>Cars</h2>

  {% if car_list%}
    <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
      </tr>
    </thead>
    <tbody>
      {% for car in car_list %}
        <tr>
          <th scope="row"><a href="{{ car.id }}">{{ car.id }}</a></th>
          <td>{{ car.manufacturer.name }}</td>
          <td>{{ car.model }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>There is no any car</p>
  {% endif %}

  <br>

  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page= {{ page_obj.previous_page_number }}" class="page-link">prev</a>
      </li>
    {% endif %}


    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
    </li>


    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page= {{ page_obj.next_page_number }}" class="page-link">next</a>
      </li>


    {% endif %}
  </ul>
{% endif %}


{% endblock %}
